<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a routerLink="/paginaInicial">Pagina Inicial</a></li>
        <li class="brand-logo center"><h4>Perfil</h4></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a routerLink="/login">Sair</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
      <form class="col s12">
          <div class="collection col s2">
              <a routerLink="/paginaInicial" class="collection-item">Inicio</a>
              <a routerLink="/perfil" class="collection-item active">Perfil</a>
              <a href="Forum" class="collection-item">Fórum</a>
          </div>
          <div class="col s1"></div>

          <div class="input-field col s6">
            <h3 class="center">Suas Postagens!</h3>
          </div> 
          
          <div class="col s1"></div>
          <div class="collection col s2">
              <a class="collection-item active">Amigos</a>
              <a class="collection-item">Amigo01</a>
              <a class="collection-item">Amigo02</a>
          </div>
      </form>
    </div>

    <div class="row">
        <form class="col s12">
            <div class="collection col s2">
                <a class="collection-item active">Eventos</a>
                <a class="collection-item">Feijoada</a>
                <a class="collection-item">Dijavu</a>
                <a class="collection-item">Só Sofrência</a>
                <a class="collection-item">Maratona do Barzin</a>  
            </div>
          <div class="col s1"></div>
  
            <div class="input-field col s5">
              <p>Você Postou essa foto há 22:00 horas!</p>
                <a><img class="brand-logo" width="600" src="../../assets/img/postagens01.jpg"></a>     
                <a><img class="brand-logo" width="200" src="../../assets/img/botao.gif"></a> 
                <p>Amigo02 te marcou nessa foto!</p> 
                <a><img class="brand-logo" width="600" src="../../assets/img/postagens03.jpg"></a>     
                <a><img class="brand-logo" width="200" src="../../assets/img/botao.gif"></a>            
            </div> 
            <div class=" col s1">
            </div>
            <div class="col s1"></div>
            <div class="collection col s2">
                <a class="collection-item active">Comunidades</a>
                <a class="collection-item">Comunidade01</a>
                <a class="collection-item">Comunidade02</a>
                <a class="collection-item">Comunidade03</a>
                <a class="collection-item">Comunidade04</a>  
            </div>
        </form>
      </div>
          