<nav>
    <div class="nav-wrapper">
            <a routerLink="/perfil"><img class="brand-logo" width="80" src="../../assets/img/user.png"></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="brand-logo center"><h4>Página Inicial</h4></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a routerLink="/login">Sair</a></li>
      </ul>
    </div>
  </nav>
        &nbsp;
        &nbsp;
  <div class="row">
      <form class="col s12">
          <div class="collection col s2">
              <a routerLink="/paginaInicial" class="collection-item">Inicio</a>
              <a routerLink="/perfil" class="collection-item">Perfil</a>
              <a href="#!" class="collection-item">Fórum</a>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">Escreva sua postagem aqui!</label>
          </div>
          <div class="col s4 center">
              <a><img class="brand-logo center" width="200" src="../../assets/img/botao.gif"></a>
          </div>
           
      </form>
    </div>
          