<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a routerLink="/paginaInicial">Pagina Inicial</a></li>
        <li class="brand-logo center"><h4>Avaliação</h4></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a routerLink="/login">Sair</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
  <div class="col s12">
    <h4 class="center">Obrigado pela sua avaliação!!!</h4>
  </div>
  <div class="col s11">
    <div class="col s6"></div>
      <button routerLink="/paginaInicial" class="btn-small waves-effect waves-light" type="submit">Voltar</button>
     
    </div>
  </div>
